<span class="sc-format-group">
  <select title="Font" class="sc-font">
    <option value="sans-serif" selected>Sans Serif</option>
    <option value="serif">Serif</option>
    <option value="monospace">Monospace</option>
  </select>
  <select title="Size" class="sc-size">
    <option value="10px">Small</option>
    <option value="13px" selected>Normal</option>
    <option value="18px">Large</option>
    <option value="32px">Huge</option>
  </select>
</span>
<span class="sc-format-group">
  <span title="Bold" class="sc-format-button sc-bold"></span>
  <span class="sc-format-separator"></span>
  <span title="Italic" class="sc-format-button sc-italic"></span>
  <span class="sc-format-separator"></span>
  <span title="Underline" class="sc-format-button sc-underline"></span>
  <span class="sc-format-separator"></span>
  <span title="Strikethrough" class="sc-format-button sc-strike"></span>
</span>
<span class="sc-format-group">
  <span title="Link" class="sc-format-button sc-link"></span>
</span>
